{{!-- <h3>Edit Post</h3>
<div class="row">
    <form action="/posts/{{post._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{post.title}}">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Tell Us Your post:</h5>
                <textarea id="body" name="body">{{post.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>
 --}}


<div class="center_div py-2">
    <div class="post-container bg-light">
        <h3>Edit Post</h3>
        <div class="row">
            <form action="/posts/edit/{{post._id}}" method="POST" class="col s12">
                <input type="hidden" name="_method" value="PUT">
                <div class="row">
                    <div class="input-field post-title py-1">
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title" value="{{post.title}}">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field text-area py-1">
                        <textarea id="body" name="body">{{post.body}}</textarea>
                    </div>
                </div>

                <div class="row">
                    <input type="submit" value="Save" class="btn btn-primary m-1">
                    <a href="/posts/{{user._id}}" class="btn btn-secondary m-1">Cancel</a>
                    <a href="/posts/{{user._id}}" class="btn btn-danger m-1">Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>